:root {
  /* COLORS */

  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --black-color: #000000;
  --neutral-dark-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-dark-color: #2f303a;
  --primary-light-color: #f5f4fa;
  --item-border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --footer-links-color: rgba(255, 255, 255, 0.1);
  --cards-background-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --button-border-color: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --button-hover-color: #188ce8;
  --footer-form-border-color: rgba(255, 255, 255, 0.3);
  --form-placeholder-color: rgba(117, 117, 117, 0.5);

  /* TRANSITIONS */

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* COMMON */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--primary-white-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--title-color);
  margin-bottom: 50px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
}

/* HEADER */

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 93px;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.15;
  color: var(--black-color);
}

.logo__accent {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list__link {
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--title-color);

  transition: color 250ms var(--timing-function);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--current {
  color: var(--accent-color);
  position: relative;
}

.nav-list__link--current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--text-color);

  transition: color 250ms var(--timing-function);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* HERO */

.section-hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-hero__title {
  max-width: 700px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

/* FEATURE */

.section-feature {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-list__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  background-color: var(--primary-light-color);
  border-radius: 4px;
  height: 120px;
}

.feature-list__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  margin-bottom: 10px;
}

.feature-list__text {
  line-height: 1.7;
}

/* WORK */

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work-list__description {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: calc(16 / 14);
  background-color: var(--cards-background-color);
}

/* TEAM */

.section-team {
  background-color: var(--primary-light-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list__item {
  flex-basis: calc((100% - 90px) / 4);
  font-size: 16px;
  line-height: 1.18;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__description {
  text-align: center;
  padding: 30px;
}

.team-list__name {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-list__position {
  margin-bottom: 16px;
}

.icon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-color);

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.icon-list__link:hover,
.icon-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.icon-list__icon {
  fill: currentColor;
}

/* CLIENT */

.client-list {
  display: flex;
  gap: 30px;
}

.client-list__item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.client-list__link:hover,
.client-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-list__icon {
  fill: currentColor;
}

/* PORTFOLIO */

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-list__button {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;
  color: var(--title-color);
  background-color: var(--primary-light-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button-list__button:hover,
.button-list__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.product {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms var(--timing-function);
}

.product:hover,
.product:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__overlay {
  position: relative;
  overflow: hidden;
}

.product__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--primary-white-color);
  background-color: var(--portfolio-overlay-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.product:hover .product__text,
.product:focus .product__text {
  opacity: 1;
  transform: translateY(0);
}

.product__description {
  padding: 20px 24px;
  border: 1px solid var(--item-border-color);
  border-top: none;
}

.product__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.product__type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--button-border-color);
  border-radius: 50%;
  background-color: inherit;
  color: var(--black-color);
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.modal__close-button:hover,
.modal__close-button:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

.modal__form-name {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--title-color);
}

.form__group {
  margin-bottom: 10px;
}

.form__group--large {
  margin-bottom: 20px;
}

.input-group.input-text-group {
  margin-bottom: 20px;
}

.form__label {
  display: inline-block;
  font-size: 12px;
  line-height: calc(14 / 12);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form__input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__input-wrapper {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: var(--title-color);
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form__input--large {
  display: block;
  padding: 12px 16px;
  min-height: 120px;
  resize: none;
}

.form__input--large::placeholder {
  color: var(--form-placeholder-color);
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.checkbox__icon {
  margin-right: 7px;
}

.checkbox__unchecked-icon {
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.checkbox__checked-icon {
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.checkbox__input:checked + .checkbox__icon .checkbox__unchecked-icon {
  opacity: 0;
}

.checkbox__input:checked + .checkbox__icon .checkbox__checked-icon {
  opacity: 1;
}

.checkbox__policy {
  user-select: none;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__button {
  display: block;
  min-width: 200px;
  margin: 0 auto;
}

/* FOOTER */

.page-footer {
  background-color: var(--primary-dark-color);
  padding: 60px 0;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  margin-right: 70px;
}

.page-footer__logo {
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.page-adress {
  font-style: normal;
  line-height: 1.71;
}

.page-adress__text {
  color: var(--primary-white-color);
  margin-bottom: 9px;
}

.adress-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list__link {
  color: var(--neutral-dark-color);

  transition: color 250ms var(--timing-function);
}

.adress-list__link:hover,
.adress-list__link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-right: 93px;
  color: var(--primary-white-color);
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social__icon-list {
  gap: 10px;
}

.icon-list__link--dark {
  background-color: var(--footer-links-color);
  color: var(--primary-white-color);

  transition: background-color 250ms var(--timing-function);
}

.icon-list__link--dark:hover,
.icon-list__link--dark:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  color: var(--primary-white-color);
}

.footer-form {
  display: flex;
}

.footer-form__input {
  min-width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid var(--footer-form-border-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms var(--timing-function);
}

.footer-form__input:focus {
  border-color: var(--accent-color);
  outline: transparent;
  color: var(--primary-light-color);
}

.footer-form__input::placeholder {
  color: var(--neutral-dark-color);
}

.footer-subscribe__button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button__icon {
  fill: currentColor;
}
