.section-feature {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-list__pic {
  @extend centeredFlex;
  margin-bottom: 30px;
  width: 100%;
  background-color: var(--primary-light-color);
  border-radius: 4px;
  height: 120px;
}

.feature-list__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  margin-bottom: 10px;
}

.feature-list__text {
  line-height: 1.7;
}
